

.key {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 15px 0 15px;
}

.key button {
    background: #0e76fd;
    color: #fff;
    padding: 7px;
    font-size: .9rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .2s ease;
    border: 2px solid #0e76fd;
    margin: 5px;
}

.key button:hover {
    color: #0e76fd;
    background: transparent;
}

.key button:focus {
    color: #0e76fd;
    background: #0e76fd50;
}