.container2 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;   
    padding: 50px;
}

@media screen and (max-width:768px) {
  .container2 {
    margin-top: 100px;
  }
}

.wrapper {
    position: relative;
    perspective: 40em;
    display: grid;
    transform-style: preserve-3d;
    margin: 70px 80px 50px 80px;
  }
  
  .card {
    grid-area: 1 / 1;
    min-height: 80px;
    width: 200px;
    transform: translateX(10px) rotateY(25deg) rotateX(10deg);
    color: #000;
    text-transform: uppercase;
    font-size: 60px;
    font-weight: 900;
    backface-visibility: hidden;
    box-shadow: 0 10px 30px -3px rgba(0,0,0,.1);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 20px 20px 0 0;
    transition: .3s;
  }
  
  h1 {
    font-size: 60px;
    font-weight: 900;
  }
  
  .wrapper:before {
    --bw: 3px;
    grid-area: 1 / 1;
    content: '';
    backface-visibility: hidden;
    height: 100%;
    width: 100%;
    margin-top: calc(-1 * var(--bw));
    margin-left: calc(-1 * var(--bw));
    background: transparent;
    transform: translateX(-60px) rotateY(-30deg) rotateX(15deg) scale(1.03);
    pointer-events: none;
    border: var(--bw) solid;
    border-image-slice: 1;
    border-width: 3px;
    border-image-source: linear-gradient(to top, #743ad5, #d53a9d);
    box-sizing: content-box;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    border-radius: 10px;
  }
  
  
  .wrapper:hover > div,
  .wrapper:hover:before {
    transform: scale(1.2);
  }
  
  
  .wrapper > div,
  .wrapper:before {
    will-change: transform;
    transition: .3s;
  }

  .card video {
    width: 100%;
    height: auto;
    border-radius: 20px;
  }

  .card .price {
    background-color: white;
    width: 100%;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: -10px;
  }

  .price p {
    margin-top: 30px;
    font-size: 1rem;
    font-weight: 400;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .price p img {
    width: 15px;
    height: auto;
    margin-left: -50px;
    margin-top: -5px;
  }

  .modal-style {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 20px;
  }

  .modal-style .nft-img {
    width: 40%;
    border-radius: 50px;  
  }

  .modal-style div {
    width: 50%;
    padding: 20px;
    font-size: 1.3rem;
    height: 100%;
    border-radius: 50px;
    background-color: aliceblue;
    color: gray;
  }

  .modal-style span {
    width: 100%;
    display: flex;
    color: #1b1b1b;
    font-size: 1.5rem;
  }

  @media screen and (max-width:768px) {

    .modal-style {
      flex-direction: column;
    }

    .modal-style .nft-img {
      width: 100%;
    }
  
    .modal-style div {
      width: 100%;
    }
    
  }

  .eth-img {
    width: 15px;
    height: 30px;
    margin-top: 5px;
  }

  .modal-style button {
    border: 2px solid red;
    background-color: rgb(255, 156, 156);
    border-radius: 10px;
    padding: 10px;
    color: white;
    font-size: 1rem;
    width: 200px;
  }