.streaming-cont {
    width: 92%;
    height: auto;
    background-color: aliceblue;
    padding: 20px;
    margin: 10px 10px 10px 7%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 20px;
}

.streaming-cont .screen {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.screen h1 {
    text-align: left;
    font-size: 1.2rem;
    color: #1b1b1b;
}

.screen h1:nth-child(3) {
    font-size: 1rem;
    color: gray;
}



.screen2 .streamer-acc{ 
    width: 100%;
    height: auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    border-top: 1px solid lightgray;
    margin-top: 20px;
    flex-wrap: wrap;
}

.streamer-acc img {
    width: 50px;
    border-radius: 100%;
    border: 1px solid lightgray;
}

.streamer-acc .ch-data {
    flex: 1;
    text-align: left;
    margin-left: 10px;
}

.ch-data h1 {
    font-size: 14px;
}

.ch-data h2 {
    font-size: 12px;
    color: gray;
    margin-left: 10px;
}

.key {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 15px 0 15px;
}

.key button {
    background: #0e76fd;
    color: #fff;
    padding: 7px;
    font-size: .9rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .2s ease;
    border: 2px solid #0e76fd;
    margin: 5px;
}

.key button:hover {
    color: #0e76fd;
    background: transparent;
}

.key button:focus {
    color: #0e76fd;
    background: #0e76fd50;
}

.streamer-acc .mint-nft {
    background: linear-gradient(to right, #DA4453, #89216B);
    color: #fff;
    padding: 7px;
    font-size: .9rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .2s ease;
    border: 2px solid #DA4453;
}

.streamer-acc .mint-nft:hover {
    color: #DA4453;
    background: transparent;
}

.streamer-acc .mint-nft:focus {
    color: #DA4453;
    background: #90ee9050;
}

.data {
    width: 30%;
    height: 90vh;
    scrollbar-width: none;
    background-color: aliceblue;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.data img {
    width: 90%;
    margin: auto;
    transform: translateY(60px);
}

.data form {
    width: 90%;
}

form input {
    width: 90%;
}