.header {
    z-index: 10;
    backdrop-filter: blur(20px);
    background-color: #ffffff30;
}

.stream-now {
    background: linear-gradient(45deg, #5271Ff, #1b1b1b);
    transition: .2s;
}

.stream-now:hover {
    background: linear-gradient(45deg,#1b1b1b, #5271Ff,);
    transform: scale(1.1);
}

.nav-btn {
    background: white;
    transition: .1s;
    border-bottom: 3px solid transparent;
}

.nav-btn:hover {
    transform: scale(1.1);
    border-bottom: 3px solid blue;
}