.mint_str {
    display: flex;
    min-height: 100vh;
    width: calc(100vw - 70px);
    position: absolute;
    left: 100px;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(45deg, #642B73, #C6426E);
    padding: 20px;
}

.mint_str .str_list {
    width: 80%;
    height: auto;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.str_list .str_list_cont {
    font-size: 1rem;
    color: gray;
    border-bottom: 1px solid lightblue;
    width: 100%;
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.str_list_cont button {
    background: linear-gradient(to right, #DA4453, #89216B);
    color: #fff;
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .2s ease;
    border: 2px solid #DA4453;
}

.str_list_cont button:hover {
    color: #DA4453;
    background: transparent;
}

.str_list_cont button:focus {
    color: #DA4453;
    background: #DA445350;
}