
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
  --black: #1b1b1b,
  --blue: #5271FF,
  --red: #FF0000,
  --white: #ffffff
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  /* font-family: 'Turret Road', cursive; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn-style{
  font-weight: bold;
  letter-spacing: 2px;
  background: linear-gradient(105deg, rgb(255, 28, 28) 50%, #1b1b1b);
  color: white;
  border-radius: 100px;
  padding: 10px 20px;
  width: 200px;
  box-shadow: 0 0 0 0 white;
  transition: .3s;
  cursor: pointer;
  -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
}

.btn-style:hover{
  padding: 20px 40px;
  width: 250px;
}

@-webkit-keyframes pulse {
  to {
      box-shadow: 0 0 0 45px rgba(234, 74, 59, 0);
  }
}

@-moz-keyframes pulse {
  to {
      box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
  }
}

@-ms-keyframes pulse {
  to {
      box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
  }
}

@keyframes pulse {
  to {
      box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
  }
}
